body{width:320px;margin:0 auto;}
table{width: 100%;}
th{background: SaddleBrown; color:white;}
.centra{text-align: center;}
.der{text-align: right;}
.rojo{color:red;}
h1, h2, h3{text-align: center;}
#logo{width:40px; margin:0 auto;}